/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #becc3c;
}

h1 {
    color: #4d44c4;
}

button {
    padding: 10px 20px;
    font-size: 20px;
}
