/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
}

h1 {
    color: #62c444;
}

button {
    padding: 10px 20px;
    font-size: 20px;
}
